<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="about-content">
  <!-- Banner de Bienvenida -->
  <div class="about-banner">
    <h1>Bienvenidos</h1>
    <p>Descubre nuestro trabajo y aprendizaje en Unity y VR</p>
  </div>

  <!-- Sección de Descripción -->
  <div class="about-header">
    <h1>Somos estudiantes de Ingeniería de Sistemas</h1>
    <p>
      Materia: Aplicación Móviles<br />
      Nuestra app refleja lo aprendido en Unity y VR.
    </p>
  </div>

  <!-- Sección de Equipo -->
  <div class="about-team">
    <h2><i class="fas fa-users"></i> Integrantes del Grupo 1</h2>
    <ul>
      <li><i class="fas fa-user"></i> Roider Millares</li>
      <li><i class="fas fa-user"></i> Josue Huayllas</li>
      <li><i class="fas fa-user"></i> Noelia Chung</li>
      <li><i class="fas fa-user"></i> Yorbin Mier</li>
    </ul>
  </div>

 
</ion-content>
